<div nbInfiniteList (scroll)="onListScroll()" [threshold]="300" [throttleTime]="1000" (topThreshold)="loadMessages()"
  (bottomThreshold)="loadMessages({ scrollDown: true })" [listenWindowScroll]="true">
  <nb-list class="flex-column-reverse" [class.hide-scheduled-messages]="hideScheduledMessages">

    @for (msg of scheduledMessages; track $index) {
    <nb-list-item class="d-flex flex-column align-items-start scheduled-message-item">
      <app-message class="overflow-auto" [message]="msg" [id]="$index" [isSchedulingMessage]="true"
        [indexId]="$index"></app-message>
    </nb-list-item>
    }

    <nb-list-item>
      @if (scheduledMessages && scheduledMessages.length) {
      <div class="last-read-indicator">
        <div class="line"></div>
        <div class="last-read-indicator-text">הודעות מתוזמנות</div>
        <div class="toggle-scheduled-messages">
          <nb-icon [icon]="hideScheduledMessages ? 'arrow-ios-forward-outline' : 'arrow-ios-downward-outline'"
            (click)="hideScheduledMessages = !hideScheduledMessages"></nb-icon>
        </div>
        <div class="line"></div>
      </div>
      }
    </nb-list-item>

    @for (message of messages; track message) {
    <nb-list-item class="d-flex flex-column align-items-start">
      <!-- last read indicator -->
      @if (message.id === lastReadMessageId + 1) {
      <div class="last-read-indicator">
        <div class="line"></div>
        <div class="last-read-indicator-text">לא נקראו</div>
        <div class="line"></div>
      </div>
      }
      <app-message class="overflow-auto" [message]="message" [id]="message.id"></app-message>
    </nb-list-item>
    }

    @if (messages.length === 0) {
    <nb-list-item class="flex-fill align-self-center">
      @if (!isLoading) {
      <div class="align-self-center flex-grow-1">
        <span>אין הודעות</span>
      </div>
      }
    </nb-list-item>
    }

    <!-- Loading indicator -->
    @if (isLoading) {
    <nb-list-item class="align-self-center loading-indicator">
      <div class="align-self-center flex-grow-1">
        <div class="spinner-border text-primary"></div>
      </div>
    </nb-list-item>
    }
  </nb-list>

  <!-- Scroll to bottom -->
  @if (showScrollToBottom) {
  <div class="scroll-to-bottom-btn">
    <button nbButton status="primary" shape="round" class="shadow" (click)="scrollToBottom()">
      <nb-icon icon="arrow-downward-outline"></nb-icon>
    </button>
    @if (thereNewMessages) {
    <nb-badge [dotMode]="true" status="danger"></nb-badge>
    }
  </div>
  }

</div>