# הגדרות שרת
PORT=3000
NODE_ENV=production

# סיסמת מנהל להתחברות למערכת (החליפו לסיסמה חזקה שלכם)
ADMIN_PASSWORD=0556786311

# הגדרות מסד הנתונים (Redis)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_redis_password

# מפתח אבטחה לשמירת הסשן
SESSION_SECRET=super_secret_key_change_this_to_something_random
