SERVER_PORT=3000

SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_VALUE

REDIS_ADDR=/app/data/kvrocks.sock
REDIS_PROTOCOL=unix

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

ADMIN_USERS=Z0534166565@GMAIL.COM
