<nb-card>
    <nb-card-body>
        <div style="position: relative;">
            <img [src]="channel.logoUrl" class="rounded-circle" (click)="fileInput.click()"
                nbPopover="לחצו כאן להעלאת תמונה חדשה" nbPopoverTrigger="hover">
            <button nbButton (click)="fileInput.click()" shape="round"
                style="position: absolute; bottom: 0; right: 0; padding: 4px;" class="shadow">
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>
        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
        <div class="m-2"></div>
        <div>
            <h6>כותרת:</h6>
            <input type="text" nbInput fullWidth [(ngModel)]="channel.name">
            <div class="m-2"></div>
            <h6>תיאור:</h6>
            <input type="text" nbInput fullWidth [(ngModel)]="channel.description">
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex flex-row-reverse">
            <div class="m-2"></div>
            <button nbButton status="primary" shape="round" outline [nbSpinner]="isSending" [disabled]="isSending"
                nbSpinnerStatus="primary" (click)="editChannelInfo()">עדכן
            </button>
        </div>
    </nb-card-footer>
</nb-card>