<nb-card>
    <nb-card-body>
        סך הכל משתמשים שהזדהו במערכת: <strong>{{statistics?.usersAmount}}</strong>
        <br />
        שיא חיבורים למערכת היה ב: <strong>{{statistics?.peakSSEConnections?.timestamp | messageTime }}</strong> ועמד על
        <strong>{{statistics?.peakSSEConnections?.value}}</strong> משתמשים.
        <br />
        סך הכל משתמשים מחוברים כעת למערכת: <strong>{{statistics?.connectedUsersAmount}}</strong>

        <hr />

        <canvas baseChart [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"></canvas>
        <div class="d-flex gap-2">
            <button nbButton size="tiny" (click)="chart?.chart?.resetZoom()">איפוס גרף</button>
            <button nbButton size="tiny" status="danger" (click)="resetPeakStatistics()">איפוס נקודת שיא</button>
        </div>
    </nb-card-body>
</nb-card>