<div class="d-flex flex-row gap-2 align-items-center justify-content-between">
  <div class="bg-light rounded-circle d-flex align-items-center justify-content-center"
    style="width: 60px; height: 60px">
    @if (chatService.channelInfo?.logoUrl?.length) {
      <img [src]="chatService.channelInfo?.logoUrl" class="rounded-circle img-circle"
        (click)="viewLargeImage($event)">
    } @else {
      <div class="bg-light text-black fw-bold rounded-circle img-circle d-flex align-items-center justify-content-center"
        title="ללא תמונה">
        {{ chatService.channelInfo?.name?.[0] || '?' }}
      </div>
    }
  </div>
  <div class="d-flex flex-column flex-grow-1">
    <span class="fs-4 my-2 fw-bold">{{ chatService.channelInfo?.name }}</span>
    @if (chatService.channelInfo?.description) {
      <small>
        {{ chatService.channelInfo?.description }}
      </small>
    }
    <small>
      {{ chatService.channelInfo?.views }} משתתפים
    </small>
  </div>

  @if (chatService.channelInfo?.contact_us) {
    <button nbButton shape="round" class="m-2" title="צור קשר" (click)="openContactUs()" status="info">
      <nb-icon icon="email-outline"></nb-icon>
    </button>
  }

  @if (notificationsService.initialized) {
    <button nbButton shape="round" class="m-2" title="התראות" status="danger"
      (click)="notificationsService.requestPermission()">
      <nb-icon icon="bell"></nb-icon>
    </button>
  }

  @if (userInfo) {
    <nb-user [name]="userInfo.username" shape="round" [nbContextMenu]="userMenu" [nbContextMenuTag]="userMenuTag"
      [picture]="userInfo.picture || ''" [onlyPicture]="isSmallScreen">
    </nb-user>
  } @else {
    <button nbButton shape="round" appearance="outline" title="התחבר באמצעות חשבון גוגל"
      (click)="_authService.loginWithGoogle()">
      <nb-icon icon="google"></nb-icon>
      התחבר
    </button>
  }
</div>